<html>
	<head>
		<%= stylesheet_link_tag "pages" %>
  </head>
  <body>
  	<div class="wrapper-about-page">
    	<%= render "header" %>
      <div class="push-about-page"></div>
      <div class="about-page-container">
		  
	 		</div>
    </div>
	<%= render "footer" %>
  </body>
</html>
