<html>
	<head>
		<%= stylesheet_link_tag "pages" %>
  </head>
  <body>
  	<div class="wrapper-about-page">
      <div class="push-about-page"></div>
      <div class="about-page-container">
	 		</div>
    </div>
  </body>
</html>
