<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
Dear <%= @customer %>,
</p>
You have successfully bought some awesome California Love gear!
<p>
<p> Here's what you bought from California Love:</p>
</p>
<p>Have a great day!</p>
</body>
</html>

