// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body 
{ 
  background: none;
  background-color: white;
  height: 100%;
}

* {
  margin: 0;
}

.wrapper-customer-cart 
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
}

.customer-cart-container
{
  
}

.empty-cart
{
	width: 130px;
	border-radius:6px !important;
	font-family:arial !important;
	font-size:18px !important;
	font-weight:bold !important;
}