// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* TOP BANNER CONTENT - BEGIN */
#header-box
{
  height: 100px;
  background-color: white;
  opacity: 0.5;
  width: 100%;
}

.header-logo
{
  background-image: url('logo_red.png');
  background-repeat: no-repeat;
  background-size: 290px 95px;
  height: 95px;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.header-content
{
  height: 70px;
  text-align: center; 
  display:block;
  margin-top: 17px;
}

.banner-item:link, .banner-item:active, .banner-item:visited
{
  text-decoration: none;
  margin: 0px 70px 0px 70px;
}

.banner-item:hover 
{
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  margin-top: -2px;
  margin-bottom: -2px;
  color: black;
  opacity: 0.8;
  background: none;
}
/* TOP BANNER CONTENT - END */

/* SHOWCASE CONTENT - BEGIN */
.product-container
{
  margin-left: auto; 
  margin-right: auto; 
  width: 800px;
  height: 300px;
}

#male-shirt, #female-shirt
{
  background: url(shirt_male_white.jpg) no-repeat;
  background-size:250px 300px;
  width: 250px;
  height: 300px;
  float: left;
}

#female-shirt
{
  background-image: url(shirt_female_white.jpg);
  float: right;
}
/* SHOWCASE CONTENT - END */

/* FOOTER LIST ITEMS - BEGIN */
.sticky-footer
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 35px;
}

.unstyled 
{
  list-style: none;
}

.footer-items:link, .footer-items:active, .footer-items:visited
{
  text-decoration: none;
}

.footer-items:hover 
{
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  margin-top: -2px;
  margin-bottom: -2px;
  color: black;
  opacity: 0.8;
  background: none;
}

.span1
{
  display: inline-block;
}
/* FOOTER LIST ITEMS - END */

/* PAGE ESSENTIALS - BEGIN */
html, body 
{ 
  background: url(rainbow.jpg) no-repeat; 
  background-size: cover;
  height: 100%;
  overflow-y: hidden;
}

* {
  margin: 0;
}

.wrapper 
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -560px;
}

.lower-screen
{
  background-color: white;
}

.lower-screen, .push 
{
  height: 560px;
}
/* PAGE ESSENTIALS - END */
