html, body 
{
  height: 100%;
  background-image: none;
  background-color: white;
}

.wrapper-index
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
}

.footer, .push-index
{
  text-align: center;
  height: 45px;
}

.text-element
{
  display: none;
  font-size: 30px;
}

.product-item-0, .product-item-1, .product-item-2, .product-item-3
{
  background-image:url('Girls_BlackFront.jpg');
  height: 760px;
  width: 570px;
  display:inline-block;
  text-align: center;
  background-size: 570px 760px;
}

.product-item-1
{
  float: right;
  background-image:url('twill_hat.jpg');
  display: inline-block;
  background-position: center;
}

.product-item-2
{
  margin-top: 20px;
  background-image:url('Mens_BlackFront.jpg');
}

.product-item-3
{
  margin-top: 20px;
  float: right;
  background-image:url('trucker_hat.jpg');
}

.products-container
{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 1600px;
}

.product-item-0:hover .text-element, .product-item-1:hover .text-element, .product-item-2:hover .text-element, .product-item-3:hover .text-element
{
  color: black;
  overflow: hidden;
  background-color: white;
  opacity: 0.5;
  display: inline-block;
  height: 760px;
  width: 570px;
  line-height: 760px;
}
/* this is a pretty dirty fix, need to look into this. Initial problem: product-item 2 and 3 would shift down on product-item-0 hover */
.product-item-0:hover .text-element
{
  margin-bottom: -25px;
}
