// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body 
{ 
  background: url(rainbow.jpg) no-repeat; 
  background-size: cover;
  height: 100%;
}

* {
  color: white !important;
  margin: 0;
}

.lower-screen
{
  background-color: white;
  height: 300px;
}

.product-container
{
  margin-left: auto; 
  margin-right: auto; 
  width: 800px;
  height: 300px;
}
#male-shirt, #female-shirt
{
  background: url(shirt_male_white.jpg) no-repeat;
  background-size:250px 300px;
  width: 250px;
  height: 300px;
  float: left;
}

#female-shirt
{
  background-image: url(shirt_female_white.jpg);
  float: right;
}

.wrapper 
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -300px;
}

.lower-screen, .push 
{
  height: 300px;
}
