html, body 
{
  height: 100%;
  background-image: none;
  background-color: white;
}

.wrapper-index
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
}

.footer, .push-index
{
  text-align: center;
  height: 45px;
}

/*.product-item-0, .product-item-1, .product-item-2, .product-item-3
{
  background-color: black;
  height: 600px;
  width: 630px;
  display:inline-block;
  text-align: center;
}*/

.product-item-0, .product-item-1, .product-item-2, .product-item-3
{
  background-image:url('Girls_BlackFront.jpg');
  height: 600px;
  width: 630px;
  display:inline-block;
  text-align: center;
  background-size:630px 600px;
}

.product-item-1
{
  float: right;
  background-image:url('twill_hat.jpg');
}

.product-item-2
{
  margin-top: 20px;
  background-image:url('Mens_BlackFront.jpg');
}

.product-item-3
{
  margin-top: 20px;
  float: right;
  background-image:url('trucker_hat.jpg');
}

.products-container
{
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  height: 1269px;
}

 .product-details-0, .product-details-1, .product-details-2, .product-details-3
{
  display: none;
}

.product-item-0:hover .product-details-0, .product-item-1:hover .product-details-1, .product-item-2:hover .product-details-2, .product-item-3:hover .product-details-3 
{
  color: black;
  overflow: hidden;
  background-color: white;
  opacity: 0.7;
  display: inline-block;
  height: 600px;
  width: 630px;
  line-height: 600px;
}
