// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* custom fonts begin */
@font-face {
  font-family: 'MyriadPro-Bold';
  src:url('MyriadPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
/* custom fonts end */

/* TOP BANNER CONTENT - BEGIN */
#transparent-box
{
  margin-left: auto; 
  margin-right: auto;
  margin-top: 40px;
  width: 800px;
  height: 150px;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
}

.logo-red
{
  background-image: url('logo_red.png');
  background-repeat: no-repeat;
  background-size: 290px 95px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 95px;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.header-items
{
  height: 70px;
  text-align: center; 
  display:block;
  position: absolute;
  top: 158px;
  left: 0;
  right: 0;
}

.header-item:link, .header-item:active, .header-item:visited
{
  text-decoration: none;
  margin: 0px 70px 0px 70px;
  font-size: 20px;
  font-family: "Myriad Hebrew";
  /* font-family: "MyriadPro-Bold"; */
  color: black;
}

.header-item:hover 
{
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding-top: 4px;
  color: black;
  opacity: 0.8;
  background: none;
}
/* TOP BANNER CONTENT - END */

/* SHOWCASE CONTENT - BEGIN */

.about-shop
{
  background-color: white;
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-family: "Myriad Hebrew";
  font-size: 20px;
}

.filler-container
{
  background-color: white;
  width: 100%;
  height: 300px;
}

.product-container
{
  margin-left: auto; 
  margin-right: auto; 
  width: 800px;
  height: 300px;
}

#male-shirt, #female-shirt
{
  background: url(shirt_male_white.jpg) no-repeat;
  background-size:250px 300px;
  width: 250px;
  height: 300px;
  float: left;
}

#female-shirt
{
  background-image: url(shirt_female_white.jpg);
  float: right;
}
/* SHOWCASE CONTENT - END */

/* FOOTER LIST ITEMS - BEGIN */
.footer, .push
{
  text-align: center;
  height: 45px;
  /*width: 100%;*/
}

.footer
{
  background-color: white;
}

.footer-items 
{
  margin: 0px 45px 0px 45px;
}

.inner-footer
{
  height: 45px;
  line-height: 45px;
}

.footer-items:link, .footer-items:active, .footer-items:visited
{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "Myriad Hebrew";
}

.footer-items:hover 
{
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding-top: 3px;
  color: black;
  opacity: 0.8;
  background: none;
}

.span1
{
  display: inline-block;
}
/* FOOTER LIST ITEMS - END */

/* PAGE ESSENTIALS - BEGIN */
html, body 
{ 
  background: url(rainbow1.jpg) no-repeat; 
  background-size: cover;
  height: 100%;
}

* {
  margin: 0;
}

.wrapper 
{
  min-height: 92%;
  height: auto !important;
  height: 92%;
  margin: 0 auto -45px;
}
/* PAGE ESSENTIALS - END */