// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body 
{ 
  background: url(rainbow.jpg) no-repeat; 
  background-size: cover;
  height: 100%;
  overflow-y: hidden;
}

* {
  margin: 0;
}

#transparent-box
{
  margin-left: auto; 
  margin-right: auto;
  margin-top: 40px;
  width: 800px;
  height: 150px;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
}

.logo-red
{
  background-image: url('logo_red.png');
  background-repeat: no-repeat;
  background-size: 290px 95px;
  height: 95px;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.product-container
{
  margin-left: auto; 
  margin-right: auto; 
  width: 800px;
  height: 300px;
}

#male-shirt, #female-shirt
{
  background: url(shirt_male_white.jpg) no-repeat;
  background-size:250px 300px;
  width: 250px;
  height: 300px;
  float: left;
}

#female-shirt
{
  background-image: url(shirt_female_white.jpg);
  float: right;
}

#true-footer
{
  height: 60px;
  margin: auto; 
  text-align: center; 
  display:block;
}

.link-footer:hover, .link-footer:visited, .link-footer:link, .link-footer:active 
{
  border: 0px;
  text-decoration: none;
  background-color: transparent;
  color: black;
} 

.wrapper 
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -550px;
}

.lower-screen
{
  background-color: white;
}

.lower-screen, .push 
{
  height: 550px;
}
