<div class="footer">
  <div class="span1">
    <ul class="unstyled">
      <li><%= link_to 'About', '#', :class => 'footer-items' %></li> 
      <li><%= link_to 'Customer Service', '#', :class => 'footer-items' %></li> 
      <li><%= link_to 'Subscribe', '#', :class => 'footer-items' %></li> 
      <li><%= link_to 'Contact', '#', :class => 'footer-items' %></li> 
    </ul>
  </div>
</div>