<div class="footer">
	<div class="inner-footer">
      <%= link_to 'ABOUT', '/pages/about', :class => 'footer-items' %>
      <%= link_to 'CUSTOMER SERVICE', '/pages/customer_service', :class => 'footer-items' %>
      <%= link_to 'SUBSCRIBE', '/pages/subscribe', :class => 'footer-items' %>
      <%= link_to 'CONTACT', '/pages/contact', :class => 'footer-items' %>
	</div>
</div>