<div class="footer">
	<div class="inner-footer">
      <%= link_to 'About', '#', :class => 'footer-items' %>
      <%= link_to 'Customer Service', '#', :class => 'footer-items' %>
      <%= link_to 'Subscribe', '#', :class => 'footer-items' %>
      <%= link_to 'Contact', '#', :class => 'footer-items' %>
	</div>
</div>