<div id="transparent-box">
  <div class="logo-red"></div>
    <div class="header-items">
    <%= link_to 'About', '#', :class => 'header-item' %>
    <%= link_to 'Shop', '/products', :class => 'header-item' %>
    <%= link_to 'Contact', '#', :class => 'header-item' %>
    <%= link_to 'Cart', '/products/current', :class => 'header-item' %>
  </div>
</div>


