<%= stylesheet_link_tag "header" %>
<div id="header-box">
  <div class="header-logo"></div>
  <div class="header-content">
    <%#= link_to 'About', '#', :class => 'banner-item' %> 
    <%#= link_to 'Shop', '/products', :class => 'banner-item' %> 
    <%#= link_to 'Contact', '#', :class => 'banner-item' %> 
    <%#= link_to 'Cart', '/products/current', :class => 'banner-item' %> 
  </div>
</div>


