<p id="notice"><%= notice %></p>
<h1>Available Products for Purchase</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
