<div id="transparent-box">
  <div class="logo-red"></div>
</div>

<div class="wrapper">
  <div class="push"></div>
</div>
<div class="lower-screen">
  <div class="product-container">
    <div id="male-shirt"></div>
    <div id="female-shirt"></div>
  </div>
  <div id="true-footer">
    <%= link_to 'About', '#', :class => 'link-footer' %> 
    <%= link_to 'Shop', '#', :class => 'link-footer' %> 
    <%= link_to 'Contact', '#', :class => 'link-footer' %> 
    <%= link_to 'Cart', '#', :class => 'link-footer' %> 
  </div>
</div>
