<html>
  <body>
    <div class="wrapper">
     <div class="push"></div>
    </div>
      <div class="about-shop">Designed and Printed in California</div>
      <div class="filler-container">
      <div class="product-container">
        <%= @products %>
      </div>
  </body>
</html>
