<html>
  <body>
    <div class="wrapper">
      <%= render "header" %>
     <div class="push"></div>
    </div>
      <div class="about-shop">Designed and Printed in California</div>
      <div class="filler-container">
      <div class="product-container">
        <div id="male-shirt"></div>
        <div id="female-shirt"></div>
      </div>
    <%= render "footer" %>
  </body>
</html>
