<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td><%= line_item.quantity %> &times;</td> 
  <td><%= line_item.product.name %></td>
  <td>at $<%= line_item.product.price %> each</td>
</tr>
