<div class="footer">
	<div class="inner-footer">
      <%= link_to 'ABOUT', '#', :class => 'footer-items' %>
      <%= link_to 'CUSTOMER SERVICE', '#', :class => 'footer-items' %>
      <%= link_to 'SUBSCRIBE', '#', :class => 'footer-items' %>
      <%= link_to 'CONTACT', '#', :class => 'footer-items' %>
	</div>
</div>